################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/RWSS_WMiI/RWSS_WMiI/Views/About.xaml.cs
